@*// Mason Frodsham masfrod2
// Mission 11*@

@{
}

@model BooksViewModel
@*This creates an entry for each book*@
@foreach (Book b in Model.Books)
{
    <partial name="BookSummary" model="b" />
}

@*here is the styling for the page buttons*@
<div page-control="@Model.PageInfo" page-action="Index"
    page-classes-enabled="true"
    page-class="btn" page-class-normal="btn-outline-dark"
    page-class-selected="btn-primary" class="btn-group pull-right m-1">
</div>